<%= form_for(@product_value) do |f| %>
  <% if @product_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_value.errors.count, "error") %> prohibited this product_value from being saved:</h2>

      <ul>
      <% @product_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :vl_purchase_uni %><br>
    <!-- , value: number_to_currency_br(@product_value.vl_purchase_uni) -->
    <%= f.text_field :vl_purchase_uni, value: number_to_currency_br(@product_value.vl_purchase_uni), class: "form-control text-right" ,"data-mask-reverse": true , "data-mask": "#,##0.00" %>
  </div>
  <div class="field">
    <%= f.label :vl_sale_uni %><br>
    <!-- , value: number_to_currency_br(@product_value.vl_sale_uni) -->
    <%= f.text_field :vl_sale_uni, value: number_to_currency_br(@product_value.vl_sale_uni), class: "form-control text-right" ,"data-mask-reverse": true , "data-mask": "#,##0.00" %>
  </div>
  <div class="field">
    <%= f.label :fl_status %><br>
    <%= f.text_field :fl_status %>
    <%= check_box("eula", "accepted", { :class => 'toggle eula_check', "data-toggle" => "toggle"  }, "yes", "no") %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.collection_select :product_id, @products, :id, :name,{prompt: "Selecione", :selected => @product_value.product_id }, {class: "form-control"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
