<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
    <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="form-row"> 
  <div class="form-group col-md-3">
    <%= f.label :Categoria %><br>
    <%= f.collection_select :category_id, @categories, :id, :description,{prompt: "Selecione", :selected => @product.category_id }, {class: "form-control"} %>
  </div>
  <div class="form-group col-md-9">
    <%= f.label :Nome %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
      <%= f.label "Código de barras" %><br>
      <%= f.text_field :bar_code, class: "form-control" %>
  </div>
  <div class="form-group col-md-2">
      <%= f.label "Qt em estoque" %><br>
      <%= f.text_field :qt_stock, class: "form-control" %>
  </div>
  
  <%= product_value_active(@product.product_values) %>
  
</div>
<div class="form-group">
  <%= f.label  :Descrição %><br>
  <%= f.text_area :description, class: "form-control" %>
</div>

<div class="btn-group float-right">
  <%= link_to 'Cancelar', products_path, class: "btn btn-primary float-right" %>
  <%= f.submit submit_name, class: "btn btn-primary float-right" %>
</div>

