<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dallubrificantes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_init({
    google: ['Roboto Slab', 'Roboto','Roboto Regular']
  }) %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>

<header>
  
 <%= render partial: "layouts/nav" %>
  
</header>

<main>
  <div class="container" style="
    height: 500px;
    background-color: aliceblue;
">
  
      <!--Grid row-->
      <div class="row" style="
    height: 400px;
    background-color: bisque;
">
  
          <!--Grid column-->
          <div class="col-md-7" style="
    height: 300px;
    background-color: aliceblue;
">
  
  
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-5" style="
    height: 300px;
    background-color: beige;
">
  
  
  
          </div>
          <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
      <!--Grid row-->
      <div class="row" style="
    height: 300px;
    background-color: aquamarine;
">
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-12" style="
    height: 250px;
    background-color: yellowgreen;
">
  
  
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6" style="
    height: 250px;
    background-color: whitesmoke;
">
  
  
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6" style="
    height: 250px;
    background-color: violet;
">
  
  
  
          </div>
          <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
  </div>
  <div class="container">
    
      <div class="row">
        <div class="col-md-12">
          </br>
          <% if notice != nil %>
            <div class="alert alert-success auto-close" role="alert" id="notice">
              <strong>Sucesso!</strong> <%= notice %>
            </div>
          <% end %>
        </div>
      </div>
    
      <%= yield %>
  </div>
</main>

<footer></footer>

<%= javascript_include_tag 'application' => true %>
</body>
</html>
