<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dallubrificantes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_init({
    google: ['Roboto Slab', 'Roboto','Roboto Regular']
  }) %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>

<header>
  
 <%= render partial: "layouts/nav" %>
  
</header>

<main>
  <div class="container">
    
      <% if notice != nil %>
        <div class="row  auto-close">
          <div class="col-md-12">
            </br>
              <div class="alert alert-success" role="alert" id="notice">
                <strong>Sucesso!</strong> <%= notice %>
              </div>
          </div>
        </div>
      <% end %>
    
      <%= yield %>
      
</main>

<footer></footer>

</body>
</html>
